[submodule "include/abseil-cpp"]
	path = include/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
[submodule "include/Crow"]
	path = include/Crow
	url = https://github.com/CrowCpp/Crow.git
[submodule "include/asio"]
	path = include/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "include/Jinja2Cpp"]
	path = include/Jinja2Cpp
	url = https://github.com/jinja2cpp/Jinja2Cpp.git
